.module {
  margin-top: 5px;
  margin-right: 5px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 40%;
  padding: 20px;
  overflow: hidden;
  border: 1px solid rgba(255,244,244,1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgba(28,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #fffcfc;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    background: #FFD6D6;
    border: 1px solid #FFB2B2;
  }
}

